body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  color: #fff;
}
.container {
  background: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}
h1 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
}
label {
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.password-container {
  position: relative;
  margin-bottom: 1rem;
}
.password-container input[type="password"],
.password-container input[type="text"] {
  padding: 0.75rem;
  width: 95%;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}
.password-container .toggle-password {
  position: absolute;
  right: 10px;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #333;
  font-size: 1.25rem;
}
input[type="checkbox"] {
  margin-right: 0.5rem;
  padding-bottom: 150px;
}
input[type="text"],
input[type="password"] {
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}
input[type="submit"] {
  padding: 0.75rem;
  background-color: #ff7e5f;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
  background-color: #feb47b;
}
