body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calendar {
  width: 80%;
  max-width: 800px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.week-days,
.time-slots {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.week-days div,
.time-slots div {
  flex: 1;
  text-align: center;
  padding: 10px;
}

.time-slot {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px 0;
  cursor: pointer;
}

.time-slot.available {
  background-color: #78aba8;
}

.time-slot.taken {
  background-color: #ffcdd2;
  cursor: not-allowed;
}
